# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Logs
*.log

# Temporary files
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Sensitive local layers
/private/
_locked/
frequency_maps/
anchors/
